# Virtual environment
.venv/

# dotenv
.env

# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log